@import "../../constants/ScssVariables.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 276px;
  box-sizing: border-box;
  position: relative;
  font-family: $fontFamily;
  list-style: none;
}

.cardMob {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  box-sizing: border-box;
  position: relative;
  font-family: $fontFamily;
  list-style: none;
}

.avatar {
  width: 62px;
  height: 62px;
  top: 0px;
  position: absolute;
  z-index: 1;
}

.label {
  top: 57px;
  position: absolute;
  z-index: 2;
}

.info {
  margin-top: 31px;
  padding: 41px 30px 20px;
  border: 1px solid $colorBtnFirst;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.infoMob {
  margin-top: 31px;
  padding: 65px 14px 20px;
  border: 1px solid $colorBtnFirst;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}

.aboutName {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  margin: 0 0 2px 0;
  padding: 0;
}

.aboutNameMob {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  margin: 0 0 2px 0;
  padding: 0;
}

.aboutId {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 3px 0;
  padding: 0;
}

.aboutDescription {
  display: grid;
  grid-template-columns: 30px 113px;
  gap: 12px;
  align-items: self-start;
  margin: 0 0 2px 0;
}

.aboutDescriptionMob {
  display: grid;
  grid-template-columns: 41px 144px;
  gap: 10px;
  align-items: self-start;
  margin: 0 0 10px 0;
}

.aboutMe {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.aboutContact {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.dobriki {
  //width: 196px;
  //height: 25px;
  //border: 1px solid #0071BC;
  //box-sizing: border-box;
  margin-left: -30px;
  height: 25px;
  //display: flex;
  //justify-content: center;
  align-items: center;
}

.progress {
  display: flex;
  height: 22px;
  margin-top: -27px;
  margin-left: 30px;
  align-items: center;
  //vertical-align: bottom;
}

.progressMob {
  display: flex;
  height: 22px;
  margin-left: 30px;
}

.progressNumber {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: auto 0;
  margin-left: 3px;
  margin-right: 8px;
  color: $colorMain;
  padding: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  gap: 5px;
}

.buttonsMob {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 13px;
  gap: 5px;
}

.empty {
  width: 25px;
}

.colorTransition {
  position: relative;
}

.colorTransition::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: $colorMain;
  transition: width 0.3s;
  z-index: 0;
}

.colorTransition:hover::before {
  width: 100%;
}

.colorTransition:hover {
  background-color: $colorMain;
}

.gradient {
	background: linear-gradient(to right, $colorMain 0%, $colorMain 50.67%, $colorBgcPopup 50.7%, $colorBgc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient:hover {
	background: $colorBgc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
