@import "../../constants/ScssVariables.scss";
@import "../../constants/ScssMixins.scss";

.columnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 106px;
  position: relative;

  .column {
    display: flex;
    background-color: $colorMain;
    width: 100%;
  }

  .dateString {
    position: absolute;
    bottom: -21px;
    color: $colorMain;
  }

  .card {
    position: absolute;
    background-color: #fff;
    width: 370px;
    height: 129px;
    bottom: -158px;
    box-sizing: border-box;
    z-index: 100;
    display: none;
    box-shadow: 0 4px 32px 0 #00000029;
    box-shadow: 0 0 4px 0 #0000000a;
    border-radius: 10px;
    padding: 2px 24px 20px;

    @include from("sm") {
      width: 228px;
    }

    .cardBigText {
      display: inline-block;
      text-align: start;
      font-size: 16px;
      font-weight: 700;
      margin: 0 0 3px;
      line-height: 32px;
      width: 100%;
      border-bottom: 2px solid $colorBorder;
    }

    .cardSmallText {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
    }
  }

  .card::after {
    content: "";
    border-radius: 3px;
    position: absolute;
    background-color: white;
    left: 198px;
    box-sizing: border-box;
    border: 9px solid black;
    border-color: transparent;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -3px 3px 3px 0 rgb(0 0 0 / 2%);

    @include from("sm") {
      left: 125px;
    }
  }
}

.columnWrapper:hover {
  .column {
    background-color: $orangeSecond;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}