@import '../../constants/scss-variables.scss';

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .container {
    background-color: #F5F5F5;
    width: 586px;
    height: 374px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .info {
      display: grid;
      grid-template-columns: 102px 450px 17px;
      margin: 0;
      padding: 0;
      width: 100%;
      grid-template-areas:
      "profile ....... button"
    }

    .profile {
      margin: 0;
      padding: 0;
    }

    .data {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
    }

    .img {
      background-image: url(../../images/Волонтер.svg);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 30px;
      margin-top: 20px;
      height: 52px;
      width: 52px;
    }

    .initials {
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 0;
      font-family: $fontFamilyInterRegular;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      color: #000000;
    }

    .number {
      margin: 0 42px 0 0;
      padding: 0;
      font-family: $fontFamilyInterRegular;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: #000000;
    }

    .phone {
      margin: 0;
      padding: 0;
      font-family: $fontFamilyInterRegular;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: #000000;
    }

    .button {
      display: flex;
      flex-direction: column;

      .ico {
        margin: auto;
      }
    }


.chat {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  width: 550px;
  height: 150px;
  padding-left: 102px;
  overflow: overlay;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 0;
  }

  .imgI {
    background-image: url(../../images/Волонтер.svg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
    margin-top: 20px;
    height: 30px;
    width: 30px;
  }
}

.message {
  display: flex;
  flex-direction: row;
}

.containerTexts {
      display: flex;
      flex-direction: row;
      position: absolute;
      width: 223px;
      height: 42px;
      margin-left: 60px;
      margin-top: 35px;
      background-image: url(../../images/icons/Rectangle.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    .texts {
      color: #FBFDFF;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      margin-top: 5px;
      margin-left: 20px;
    }

    .form {
      display: flex;
      justify-content: space-between;
      width: 417px;
      height: 37px;
      padding-bottom: 30px;
      min-width: 385px;

      .input {
        display: flex;
        justify-content: space-between;
        width: 417px;
        height: 37px;
        padding-left: 102px;
        padding-bottom: 30px;
        min-width: 385px;
        position: relative;

      }

      .text {
        background-color: #F5F5F5;
        height: 37px;
        width: 417px;
        font-family: $fontFamilyNormal;
        border: 1px solid $colorDisable;

        &:focus {
          outline: 1px solid $colorBtnSecond;
          border: 0px;
        }
        &::placeholder {
          font-size: $fontSizeSmall;
          line-height: 15px;
          color: $colorDisable;
        }
      }

      .sendIcon {
        background: #2E3192;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        width: 37px;
        height: 37px;
        left: 510px;
        border-radius: 0;
      }

      .clipIcon {
        width: 12px;
        height: 15px;
        background: #F5F5F5;
        position: absolute;
        top: 11px;
        right: 11px;
      }

      }

  }

}






