.container {
  display: flex;
  background: #F5F5F5;
  max-width: 374px;
  position: fixed;
  width: 100%;
}

.info {
  display: grid;
}

.profile {

}

.img {
  min-width: 52px;
  min-height: 52px;
}

.initials {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
}

.number {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

