.background {
    background-color: #FBFDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.buttonBox {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(3, 113px);
    gap: 10px;
    padding-top: 30px;
    justify-self: center;
    justify-content: center;
    width: 295px;
    height: 426px;
    border: 3px solid #2E3192;
}

.border{
	text-align:center;
	width:  290px;
    height: 290px;
	margin: 0 auto;
    margin-bottom: 30px;
	border:5px solid transparent;
	border-image:url('./defaultComponents/background.svg') 20 5 stretch;
}

.avatar {
    position: relative;
    top: -90px;
    width: 175px;
    height: 175px;
    //background-image: url('./defaultComponents/image.png');
    border: none;
}