@import '../../constants/scss-variables.scss';
.maps{
    // для нормальной работы надо задать высоту и ширину 100%,  а размеры регулировать внешним контейнером
    width: 940px;
    height: 728px;
    background: $colorBgcPopup;
    border-radius: 10px;


    &__placemark{
        border-radius: 100%;
        background-color: $colorMain;
    }
}