//Colors

$colorMain: #2E3192 ;
$colorSupport: #9798C9;

$colorBtnFirst: #0071BC;
$colorBtnSecond: #0091C7;
$colorBtnThird: #0091C7 ;

$colorBgc:#FBFDFF;
$colorBgcPopup: #FFFFFF;
$colorBgcGradient: linear-gradient(90deg, #FFFFFF 0%, #2E3192 50%, #FFFFFF 100%);

$colorDisable: #818C99;

//Fonts

$fontFamilyNormal:GolosNormal;
$fontFamilyBold:GolosBold;

$fontSizeLarge: 24px;
$fontSizeMedium: 16px;
$fontSizeSmall: 12px;



