.registr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    font-family: 'GolosNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
}