@font-face {
  font-family: 'GolosNormal';
  font-style: normal;
  font-weight: 400;
  src: url("./golos/GolosText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'GolosBold';
  font-style: normal;
  font-weight: 700;
  src: url("./golos/GolosText-Bold.ttf") format("truetype");
}
