@import "../../constants/ScssVariables";
@import "../../constants/ScssMixins.scss";

.react-datepicker {
  font: inherit;
  font-size: 11px;
  border-radius: 10px;
  border-color: #e0e0e0;
  @include from("sm") {
    border-radius: 0px;
  }
}
.react-datepicker__day,
.react-datepicker__day-name {
  @include from("sm") {
    margin-right: 4px !important ;
  }
}

.react-datepicker__day-name {
  margin: 0.19rem;
}
.react-datepicker__header {
  background-color: transparent;
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 15px;
}

.react-datepicker__current-month {
  color: $colorMain;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
}

.react-datepicker__navigation {
  border-radius: 100%;
  border: 1px solid $colorSupport;
  width: 16px;
  height: 16px;
  top: 18px;
  &.react-datepicker__navigation--next {
    right: 12px;
  }
  &.react-datepicker__navigation--previous {
    left: 12px;
  }
}

.react-datepicker__navigation-icon::before {
  border-width: 1px 1px 0 0;
  border-color: $colorSupport;
  width: 5px;
  height: 5px;
  top: 9px;
}

.react-datepicker__navigation-icon--next::before {
  left: -2px;
}

.react-datepicker__navigation-icon--previous::before {
  right: -2px;
}

.react-datepicker__day-name {
  color: #9f9b9b;
  text-transform: uppercase;
  &:nth-last-child(-n + 2) {
    color: #fd6868;
  }
}

.react-datepicker__day--today {
  background-color: $colorSupport;
  border-radius: 0.3rem;
}

.react-datepicker__day--selected {
  background-color: $colorMain;
  color: white;
}

.react-datepicker__day--keyboard-selected {
  background-color: $colorSupport;
}

.react-datepicker__day--outside-month {
  color: #9f9b9b;
}

.react-datepicker__month-container {
  display: block !important;
  float: none !important;
  padding-left: 10px;
  height: 264px;

  @include from("sm") {
    border-radius: 0px;
    padding-left: 0;
  }
}
