@import '../../constants/scssVariables.scss';
@import '../../constants/scssMixins.scss';



.mainPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  margin: 10px auto;

  justify-content: center;


  .leftPanel {
    display: flex;
    flex-direction: column;
    width: 295px;
    gap: 30px;


  }


}