@import "../../constants/scss-variables.scss";
@import "../../constants/scss-mixins.scss";

.main {
    display: flex;
    width: 100%;
    gap: 20px;
    margin: 30px auto 0;
    max-width: 1440px;
    padding: 0 92px;
    box-sizing: border-box;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.requests {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 10px;
}

.profile {
    height: 362px;
    width: 295px;
    border: 1px solid red;
    box-sizing: border-box;
}