@import '../../../../constants/ScssVariables.scss';

.card-button {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: $colorMain;
    color: $colorBgcPopup;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    cursor: pointer;
}

.card-button:active {
    background-color: $colorBtnFirst;
}

.card-button__web {
    width: 275px;
    height: 113px;
}

.card-button__mobile {
    flex-direction: column;
    width: 110px;
    padding: 12px 0 10px 0;
    height: 113px;
    font-size: 12px;
    line-height: 14.4px;
}

.card-button__mobile-wide {
    flex-direction: column;
    width: 223px;
    height: 91px;
    font-size: 12px;
    line-height: 14.4px;
    padding: 12px 0 10px 0;
}

.card-button__caption {
    max-width: 147px;
    word-wrap:break-word;
    margin: 0 5px 0 5px;
}

.card-button__caption-wide {
    word-wrap:break-word;
    margin: 0 30px 0 30px;
}
