@import '../../constants/scss-variables.scss';

.wrap{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.div1{
  background: $colorMain;
  height: 100px;
  margin-right: 200px;
}

.div2{
  background: $colorBgcGradient;
  width: 600px;
  height: 5px;
}

.svgColor , path{
  fill: $colorBtnThird;
}

