@import "../../constants/scss-mixins.scss";
@import "../../constants/scss-variables.scss";

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: $fontFamilyNormal;
  @include from("sm") {
    align-items: center;
    width: 240px;
  }
}
.inputWrap {
  border: 0.5px solid $headerBorder;
  border-radius: 10px;
  padding: 4px 10px 8px 15px;
  @include from("sm") {
    border: 0.5px solid $colorSupport;
    border-radius: 0px;
  }
  & > span {
    position: relative;
    padding: 0px 8px 0 2px;
    font-size: 11px;
  }
  & > span::before {
    content: "__";
    color: $colorDisable;
    position: absolute;
    top: 2px;
    letter-spacing: 4px;
    right: 15px;
    font-size: 12px;
    z-index: -1;
  }
  & > span::after {
    content: "__";
    color: $colorDisable;
    position: absolute;
    top: 2px;
    left: 14px;
    letter-spacing: 4px;
    font-size: 12px;
    z-index: -1;
  }

  @include from("sm") {
    margin-top: 5px;
  }
}

.text {
  padding-bottom: 5px;
  margin: 0;
  font-size: $fontSizeSmall;
  line-height: 14px;
  @include from("sm") {
    padding-bottom: 2px;
    width: 100%;
    font-size: $fontSizeLarge;
    line-height: 29px;
    text-align: center;
  }
}
.time {
  padding-left: 0;
  font-size: $fontSizeSmall;
  line-height: 14px;
  letter-spacing: 3px;
  width: 20px;
  border: none;
  &:focus {
    outline: 1px solid $colorBtnSecond;
  }
  &:invalid {
    outline: 1px solid #e64646;
  }
}

.mobileLine {
  width: 180px;
  height: 2px;
  background: $colorBgcGradient;
  margin: 2px 0 10px;
}
