@import '../../constants/ScssVariables.scss';
@import '../../constants/ScssMixins.scss';

.reqMain {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 169px minmax(100px, 450px) 249px 41px;
  max-width: 889px;
  margin: 0 auto;
  grid-template-areas:
    "category ....... person button"
    "wrapperTimeAddress contentHeader person button"
    "wrapperTimeAddress contentText  person button"
    "wrapperTimeAddress contentText person button"
    "wrapperTimeAddress contentBalls person button";

  @include from('sm') {
    column-gap: 0px;
    grid-template-columns: repeat(2,minmax(min-content,max-content));
    grid-template-areas:
      "category button"
      "person button"
      "contentHeader button"
      "contentText button"
      ". contentBalls"
      "itemBreaker itemBreaker"
      "wrapperTimeAddress wrapperTimeAddress";
    border: 1px solid $colorBorder;
    max-width: 365px;
    box-sizing: border-box;
  }

  .category {
    grid-area: category;
    width: 169px;
    background: $colorSupport;
    clip-path: polygon(0% 0%, 100% 28%, 92% 100%, 0% 100%);
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSizeSmall;
    line-height: 15px;
    color: $colorBgcPopup;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
  }

  .wrapperTimeAddress {
    grid-area: wrapperTimeAddress;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin-top: 10px;

    @include from('sm') {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0px;
      justify-content: flex-start;
    }

    .date {
      grid-area: date;
      display: flex;
      gap: 5px;
      flex-direction: row;
      margin-right: 0px;
      margin-left: 2px;

      @include from('sm') {
        margin-right: 40px;
        margin-left: 8px;
      }

      .dateImg {
        height: 17px;
        width: 17px;
        align-self: center;
      }

      .dateText {
        font-family: $fontFamily;
        font-weight: $fontWeight;
        font-size: $fontSizeLarge;
        line-height: 29px;
        color: $colorMain;

        @include from('sm') {
          font-family: $fontFamilyBold;
          font-size: $fontSizeMedium;
        }
      }
    }



    .time {
      display: flex;
      gap: 5px;
      flex-direction: row;
      align-self: start;

      .timeImg {

        height: 17px;
        width: 17px;
        align-self: center;

      }

      .timeText {
        font-family: $fontFamily;
        font-weight: $fontWeight;
        font-size: $fontSizeSuperLarge;
        line-height: 29px;
        color: $colorMain;

        @include from('sm') {
          font-family: $fontFamilyBold;
          font-size: $fontSizeMedium;
        }
      }
    }

    .address {
      display: flex;
      gap: 5px;
      flex-direction: row;
      align-self: start;
      margin-top: 0px;
      margin-bottom: 0px;

      @include from('sm') {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 8px;

      }

      .addressImg {
        height: 19px;
        width: 14px;
        align-self: center;
      }

      .addressText {
        font-family: $fontFamily;
        font-weight: $fontWeight;
        font-size: $fontSizeMedium;
        line-height: 19px;
        color: $colorMain;
        max-width: 131px;
        text-align: left;

        @include from('sm') {
          font-family: $fontFamilyBold;
          font-size: $fontSizeMedium;
        }
      }
    }
  }

  .contentHeader {
    grid-area: contentHeader;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSizeLarge;
    line-height: 29px;
    color: $colorSupport;
    margin-top: 10px;
    text-align: left;

    @include from('sm') {
      margin-top: 20px;
      margin-left: 8px;
    }
  }

  .contentTextWrapper {
    grid-area: contentText;
    display: flex;
    flex-direction: row;

    .contentText {

      font-family: $fontFamily;
      font-weight: $fontWeight;
      font-size: $fontSizeMedium;
      line-height: 19px;
      text-align: left;

      @include from('sm') {
        line-height: 29px;
        margin-left: 8px;
      }

      color: $colorRegularFont;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .contentRead {

      align-self: self-end;
      padding-bottom: 3px;

      .link {
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-family: $fontFamily;
        font-weight: $fontWeight;
        font-size: $fontSizeMedium;
        line-height: 19px;
        color: $colorMain;
      }
    }
  }

  .contentBalls {
    grid-area: contentBalls;
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-top: 28px;
    margin-bottom: 0px;

    @include from('sm') {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .contentBallsImg {
      cursor: pointer;
      display: flex;
      height: 35px;
      width: 46px;
      align-self: center;
    }

    .contentBallsCount {
      font-family: $fontFamily;
      font-weight: $fontWeight;
      font-size: $fontSizeSmall;
      line-height: 14px;
      color: $colorMain;
      align-self: center;
    }
  }

  .itemBreaker {
    grid-area: itemBreaker;
    display: none;

    @include from('sm') {
      display: block;
      height: 1px;
      width: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #2E3192 49.28%, rgba(255, 255, 255, 0) 100%);
      margin-top: 1px;
      margin-bottom: 5px;
    }
  }

  .person {
    grid-area: person;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

    @include from('sm') {
      display: grid;
      grid-template-areas:
        "personImg personName"
        "personImg personPhone"
        ". personContact";
      grid-template-rows: repeat(2,minmax(min-content,max-content));
      grid-template-columns: repeat(3,minmax(min-content,max-content));
      column-gap: 5px;
      margin-left: 8px;
      margin-top: 15px;
    }

    .personImg {
      grid-area: personImg;

      @include from('sm') {
        width: 60px;
        height: 60px;
      }
    }

    .personName {
      grid-area: personName;
      font-family: $fontFamily;
      font-weight: $fontWeight;
      font-size: $fontSizeMedium;
      line-height: 19px;
      color: $colorRegularFont;
      align-self: center;
      margin-top: 2px;

      @include from('sm') {
        font-size: 20px;
        line-height: 24px;
        align-self: flex-start;
      }
    }

    .personPhone {
      grid-area: personPhone;
      font-family: $fontFamily;
      font-weight: $fontWeight;
      font-size: $fontSizeMedium;
      line-height: 19px;
      color: $colorMain;
      align-self: center;
      margin-top: 4px;

      @include from('sm') {
        justify-self: flex-start;
      }
    }

    .personContact {
      grid-area: personContact;
      display: flex;
      flex-direction: row;
      align-self: center;
      margin-top: 8px;
      gap: 8px;

      @include from('sm') {
        justify-self:flex-start;
        margin-top: 20px;
      }

      .personCall {
        cursor: pointer;
        display: flex;
        background-color: $colorMain;
        border-radius: 50%;
        border: 1px solid $colorDisable;
        height: 32px;
        width: 32px;
        align-self: center;

        &:hover {
          background-color: $colorBtnSecond;
        }
      }

      .personChat {
        cursor: pointer;
        display: flex;
        background-color: $colorMain;
        border-radius: 50%;
        border: 1px solid $colorDisable;
        height: 32px;
        width: 32px;
        align-self: center;

        &:hover {
          background-color: $colorBtnSecond;
        }
      }
    }
  }

  .button-request {
    grid-area: button;
    gap: 10.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include from('sm') {
      justify-self: flex-end;
    }
  }
}