@import '../../constants/ScssVariables.scss';
@import '../../constants/ScssMixins.scss';

.list {
  display: flex;
  flex-direction: column;
  z-index: 0;
  height: 750px;
  position: relative;
  padding-bottom: 30px;

  @include from('sm') {
    height: 570px;
  }

  overflow: scroll;
}

.itemBreaker {

  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #2E3192 49.28%, rgba(255, 255, 255, 0) 100%);
  margin-top: 25px;
  margin-bottom: 25px;

  @include from('sm') {
    background: none;
    margin: 10px
  }
}


.blur {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 151px;

  @include from('sm') {
    height: 81px;
  }

  width: 100%;
  background: linear-gradient(0deg, #FFFFFF 25%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}