@import '../../../constants/scssVariables.scss';
@import '../../../constants/scssMixins.scss';

.wrap {
  display: flex;
  flex-direction: column;
  align-items: fl;
  font-family: $fontFamilyNormal;
  position: relative;
  max-width: 464px;
  width: 100%;
}

.name {
  font-size: $fontSizeSmall;
  line-height: 14px;
  color: $colorRegularFont;
  padding-bottom: 5px;
}

.text {
  box-sizing: border-box;
  min-height: 169px;
  width: 100%;
  font-family: $fontFamilyNormal;
  border: 1px solid $colorDisable;
  padding: 15px;
  resize: none;
  &:focus {
    outline: 1px solid $colorBtnSecond;
    border: 0px;
  }
  &::placeholder {
    font-size: $fontSizeSmall;
    line-height: 15px;
    color: $colorDisable;
  }
}

.count {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 10px;
  line-height: 12px;
  color: $colorDisable;
}
