.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('../../images/footer-background.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  height: 21px;
  width: 100%;
}