@use '../../constants/scss-variables';

.checkbox {
  display: flex;
  align-items: center;
  gap: 14px;
  &__nativeBox {
    position: absolute;
    width: 1px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
    height: 1px;
    overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. */
    clip-path: inset(0 0 0 0);
    &:checked + .checkbox__customBox {
      border: 3px solid scss-variables.$colorMain;
      background: scss-variables.$colorMain url("../../images/check-mark-white.svg") center/contain no-repeat;
    }
    &:disabled ~ .checkbox__customBox {
      opacity: 0.5;
    }
    &:disabled ~ .checkbox__label {
      opacity: 0.5;
    }
  }
  &__customBox {
    width: 20px;
    height: 20px;
    border: 3px solid scss-variables.$colorCheckboxDisabled;
    border-radius: 6px;
    background: scss-variables.$colorBgc;
  }
  &__label {
    font-size: 16px;
    color: black;
  }
}