@import "../../../constants/scss-mixins.scss";
@import "../../../constants/scss-variables.scss";

.wrap {
  display: flex;
  flex-direction: column;
  padding: 20px 0 41px 72px;
  width: 464px;
  @include from("sm") {
    width: 240px;
    padding: 0 0 150px 0;
  }
}

.select {
  padding: 20px 0 20px 0;
}

.nameSelect {
  font-family: $fontFamilyNormal;
  margin: 0;
  font-size: $fontSizeSmall;
  line-height: 14px;
  color: $colorRegularFont;
  padding-bottom: 5px;
}
