@import '../../../constants/ScssVariables';


.radioGroup {
  display: flex;
  gap: 12px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 14px;
  &__nativeBox {
    position: absolute;
    width: 1px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
    height: 1px;
    overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. */
    clip-path: inset(0 0 0 0);
    &:checked + .radio__customBox {
      border: 1px solid $colorMain;
      background: $colorMain;
      color: $colorBgcPopup;
    }
    &:disabled ~ .radio__customBox {
      opacity: 0.5;
    }
  }
  &__customBox {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 65px;
    min-height: 24px;
    border: 1px solid $colorMain;
    color: $colorMain;
    background: $colorBgcPopup;
    font: $fontFamily;
    font-size: small;
    margin: 0;
  }
}