@import "../../../constants/ScssVariables.scss";

.wrapTransition {
  animation: fade-in 150ms ease-out;
  background-color: $colorBgcPopup;
}

//react-ios-time-picker-btn-container
.popupHeader {
  background-color: $colorBgcPopup;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  padding: 26px 0 13px;
}

.popupHeaderText {
  font-family: $fontFamilyNormal;
  font-size: $fontSizeLarge;
  margin: 0;
  padding: 0;
  line-height: 29px;
  padding-bottom: 3px;
}

.popupHeaderUnderline {
  height: 2px;
  width: 70%;
  background-image: $colorBgcGradient;
}

//react-ios-time-picker-container
.timeContainer {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $colorBgcPopup;
  width: 300px;
  overflow: hidden;
  /* border-radius: 0 0 15px 17px; */
  padding: 20px 0;
  /* box-shadow: inset 0px 0px 5px 0px rgba(255, 159, 10, 0.5); */
  /* box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%); */
}

//react-ios-time-picker-colon
.timeColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #f7f7f7;
  position: relative;
  z-index: 100;
  font-weight: 600;
  padding: 0 6px;
}

.buttonQ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0 20px;
}

.wrap {
  margin-bottom: 50px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 11px 15px #0005;
  position: relative;
}
