@import '../../../constants/scssVariables.scss';
@import '../../../constants/scssMixins.scss';

.exportCard {
  border: 1px solid $colorBtnFirst;
  position: relative;
  height: 287px;
  width: 423px;

  .excelButtonContainer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
