@import '../../constants/scss-variables.scss';
@import '../../constants/scss-mixins.scss';

.nav {
  border: 2px solid $colorBtnFirst;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  gap: 10px;

  @include from('sm') {
    border: none;
    flex-direction: row;
  }
}