@import "../../../constants/scss-variables.scss";
@import "../../../constants/scss-mixins.scss";

.wrap {
  width: 448px;
  display: flex;
  flex-direction: column;
  color: $colorRegularFont;
  font-family: $fontFamilyNormal;
  @include from("sm") {
    width: 271px;
  }
}

.date,
.time {
  font-size: $fontSizeLarge;
  line-height: 29px;
  padding-bottom: 25px;
  & > span {
    padding-left: 20px;
  }
  @include from("sm") {
    font-family: $fontFamilyBold;
    font-size: $fontSizeMedium;
    line-height: 19px;
  }
}

.adress {
  font-size: $fontSizeMedium;
  line-height: 19px;
  padding-bottom: 25px;
  & > span {
    padding-left: 5px;
  }
  @include from("sm") {
    font-size: $fontSizeSmall;
    line-height: 14px;
  }
}

.category {
  width: 169px;
  background: $colorSupport;
  clip-path: polygon(0% 0%, 100% 28%, 92% 100%, 0% 100%);
  color: $colorBgcPopup;
  padding: 5px 0;
  font-size: $fontSizeSmall;
  line-height: 15px;
  & > span {
    padding-left: 20px;
  }
}

.taskName {
  margin: 0;
  font-weight: 700;
  font-size: $fontSizeMedium;
  line-height: 19px;
  padding: 20px 0 15px;
}

.taskText {
  margin: 0;
  font-size: $fontSizeMedium;
  line-height: 19px;
  padding-bottom: 10px;
}
