@import '../../../constants/scss-variables.scss';
@import '../../../constants/scss-mixins.scss';

.nav_link {
  display: flex;
  box-sizing: border-box;
  padding: 30px;
  align-items: center;
  height: 113px;
  background-color: $colorMain;
  text-decoration: none;
  transition: all cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  @include from('sm') {
    flex-direction: column;
    width: 110px;
    height: 113px;
    padding: 10px;
  }

  &_active {
    background-color: $colorBtnFirst;
  }


  &_text {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSizeLarge;
    font-style: $fontFamilyNormal;
    line-height: 19px;
    color: #fff;
    text-align: left;

    @include from('sm') {
      font-size: $fontSizeSmall;
      text-align: center;
    }
  }
}

.nav_link:hover {
  background-color: $colorBtnFirst;
}