@import './constants/scss-mixins.scss';
@import './constants/scss-variables.scss';




body {
  @include from('xl') {
  max-width: $dekstopWidth;
  //display: none;
};

@include from('sm') {
  //display: block;
  max-width: $mobileWidth;
};
  margin: 0;
  max-width: 1440px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

