@import '../../constants/scss-variables.scss';
@import '../../constants/scss-mixins.scss';

.header {
    display: flex;
    align-items: flex-end;
    gap: 180px;
    border-bottom: 1px solid $headerBorder;
    min-height: 88px;
    height: 100%;
    position: relative;

    @include from('sm') {
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        min-height: 60px;
        border: 1px solid;
        border-image-slice: 1;
        border-image-source: url('../../images/boder-gradient.svg');
        border-top: 0;
        border-right: 0;
        border-left: 0;
        width: 100%;
        gap: 0;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include from('sm') {
        display: none;
    }
}

.menu_opened {
    @include from('sm') {
        background-color: $colorBgcPopup;
        display: grid;
        grid-template-areas: 
        ". message"
        ". list";
        grid-template-rows: repeat(2,minmax(min-content,max-content));
        gap: 37px;
        position: absolute;
        top: 61px;
        right: 0;
        padding-top: 20px;
        height: 100vh;
    }
}

.link {
    display: block;
    color: $colorRegularFont;
    font-family: $fontFamilyNormal;
    text-decoration: none;
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 16px;
    box-sizing: border-box;

    @include from('sm') {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 5px;
        border-bottom: 4px solid $colorMain;
        padding-bottom: 12px;
        width: fit-content;
        max-width: 200px;
    }
}

.link__active {
    display: block;
    color: $colorRegularFont;
    font-family: $fontFamilyNormal;
    text-decoration: none;
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 12px;
    border-bottom: 4px solid $colorMain;

    @include from('sm') {
        display: flex;
        flex-direction: row-reverse;
        gap: 5px;
        width: fit-content;
        max-width: 200px;
    }
}

.list {
    list-style: none;
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0;
    grid-area: list;

    @include from('sm') {
        display: grid;
        grid-template-areas: 
        ". blog"
        ". personal"
        ". privacy"
        ". contacts";
        gap: 30px;
        padding-right: 32px;
    }
}

.list__caption {
    margin: 0;

    @include from('sm') {
        text-align: right;
    }
}

.logo {
    margin-left: 93px;
    margin-bottom: 8px;

    @include from('sm') {
        margin: 0;
    }
}

.message__area {
    grid-area: message; 
    justify-self: end;
    align-self: flex-start;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    max-width: 283px;
    height: 100%;
    min-height: 88px;
    background-image: url("../../images/rectangle-menu.svg");
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    
    @include from('sm') {
        align-self: end;
        max-height: 46px;
        align-self: flex-start;
    }
}

.message__caption {
    max-width: 132px;
    text-align: left;
    color: $colorBgc;
    font-family: $fontFamilyNormal;
    font-size: 16px;
    line-height: 19.2px;
    margin-top: 30px;
}

.message__button {
    margin-top: 20px;
    margin-left: 20px;
}

.avatar {
    display: none;

    @include from('sm') {
        display: flex;
        width: 43px;
        height: 43px;
    }
}

.burgerMenu {
    display: none;

    @include from('sm') {
        display: block;
        background-color: transparent;
    }
}

.personal {
    grid-area: personal;
    justify-self: end;
}

.blog {
    grid-area: blog;
    justify-self: end;
}

.privacy {
    grid-area: privacy;
    justify-self: end;
}

.contacts {
    grid-area: contacts;
    justify-self: end;
}